* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}
body {
  background: #f0f0f0;
}
h1 {
  font-size: 2.2rem;
}
button,
label {
  font-size: 1.6rem;
}
