* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}
html,
body {
  overflow: auto;
}
h1 {
  font-size: 2.2rem;
}
p,
button,
label {
  font-size: 1.6rem;
}
