header {
  height: 7vh;
}
.logo {
  margin-top: 1%;
  @include flex(center, center, row);
  text-align: center;
  img {
    height: 5rem;
    width: 30%;
  }
}
main {
  height: 90vh;
  display: grid;
  grid-template-rows: 2.5fr 0.5fr;
  grid-template-areas:
    "grid"
    "controls";
}
.controls {
  display: grid;
  grid-template-rows: 0.3fr 2fr;
  grid-template-columns: repeat(4, 0.3fr) 0.75fr;
  width: 80%;
  margin: auto;
  margin-bottom: 1.5rem;
}
.control-header {
  grid-area: 2/2/2/5;
  @include flex(center, center, row);
  h1 {
    color: $blue-color;
  }
}
.clear,
.new {
  border-radius: 0.5rem;
}

.range {
  @include flex(center, center, row-reverse);
  position: relative;
  grid-area: 1/1/1/6;
  text-align: center;
  width: 89%;
  input {
    width: 30rem;
  }
  p {
    margin: 0;
    order: -1;
    font-size: 1.3;
  }
  label {
    font-size: 1.3rem;
    margin: 0;
  }
  input {
    -webkit-appearance: none;
    margin-inline: 2rem;
  }
  input::-webkit-slider-thumb {
    height: 1.5rem;
    width: 1.5rem;
    background: $blue-color;
    cursor: pointer;
  }
  input::-moz-range-thumb {
    height: 1.5rem;
    width: 1.5rem;
    background: $blue-color;
    cursor: pointer;
  }
  input::-ms-thumb {
    height: 1.5rem;
    width: 1.5rem;
    background: $blue-color;
    cursor: pointer;
    margin: 0;
  }
  input::-webkit-slider-runnable-track {
    height: 1.5rem;
    cursor: pointer;
    background: rgb(172, 210, 235);
  }
  input::-moz-range-track {
    height: 1.5rem;
    cursor: pointer;
    background: rgb(172, 210, 235);
  }
  input::-ms-track {
    height: 1.5rem;
    cursor: pointer;
    background: rgb(172, 210, 235);
  }
}

.control-buttons {
  grid-area: 2/1/2/2;
  @include flex(space-between, flex-start, column);
  button {
    width: 100%;
    padding: 1rem 12rem;
    border: $standard-border;
    font-size: 1.4rem;
    transition: all 200ms ease;
  }
  button:hover {
    transform: scale(1.05);
    -webkit-box-shadow: 4px 2px 8px 1px rgba(0, 0, 0, 0.35);
    box-shadow: 4px 2px 8px 1px rgba(0, 0, 0, 0.35);
  }
  input {
    width: 50%;
  }
}
.selection-buttons {
  gap: 2rem;
  grid-area: 2/5/2/6;
  display: grid;
  grid-template-columns: repeat(2, 0.5fr);
  grid-template-rows: repeat(2, 1fr);
}
.selection {
  width: 60%;
  border-radius: 0.2rem;
  padding: 1.5rem 4rem;
  font-size: 1.6rem;
  transition: all 200ms ease;
  text-align: center;
}
.blue-selection,
.black-selection,
.random-selection,
.custom-selection {
  button {
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
    width: 100%;
  }
}
.blue-selection {
  grid-area: 1/1/1/2;
}
.selection:hover {
  transform: scale(1.05);
  -webkit-box-shadow: 4px 2px 8px 1px rgba(0, 0, 0, 0.35);
  box-shadow: 4px 2px 8px 1px rgba(0, 0, 0, 0.35);
}
.selection:focus {
  transform: scale(1.05);
  -webkit-box-shadow: inset 4px 2px 8px 0.5px rgba(0, 0, 0, 0.35);
  box-shadow: inset 4px 2px 8px 0.5px rgba(0, 0, 0, 0.35);
}

.blue-color {
  border: $standard-border;
}
.black-color {
  border: 1px solid rgb(24, 24, 24);
}
.random-color {
  border: 1px solid transparent;
  border-image: linear-gradient(
    to bottom right,
    #b827fc 0%,
    #2286cf 25%,
    #f7cb15 50%,
    #f7a1c4 75%,
    #fd1892 100%
  );
  border-image-slice: 1;
}
.custom-color {
  border: none;
  border-block-width: 20%;
  border-top: $standard-border;
  border-bottom: $standard-border;
  border-left: 1px solid #979e9e;
  border-right: 1px solid #a8dadc;
}
.random-selection,
.custom-selection {
  position: relative;
}

#random-color-visual,
#custom-color-visual {
  position: absolute;
  top: 7%;
  right: 1%;
  width: 2.5rem;
  background: none;
}

.visual-display {
  display: none;
}
.eraser {
  grid-area: 3/1/3/3;
  text-align: center;
  button {
    border: 2px inset #a3a4a4;
    width: 50%;
    grid-area: 3/1/3/3;
    padding: 1rem 3rem;
    border-radius: 0.5rem;
  }
}

.grid {
  grid-area: grid;
  @include flex(center, center, row);
}
.grid-container {
  border: $standard-border;
  border-radius: 0.5rem;
  height: 90%;
  display: grid;
  width: 80vw;
}
.current-range {
  margin: 0;
}

.grid-box {
  background: transparent;
  border: none;
  height: 100%;
  transition: all ease;
}
