header {
  height: 10vh;
}
.logo {
  margin: 1%;
  img {
    height: 6rem;
    width: 30%;
  }
}
main {
  height: 90vh;
  display: grid;
  grid-template-rows: 2.5fr 0.5fr;
  grid-template-areas:
    "grid"
    "controls";
}
.controls {
  display: grid;
  grid-template-rows: 0.3fr 2fr;
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 1.5rem;
}
.control-header {
  grid-area: 1/1/1/6;
}
.range {
  grid-area: 2/3/2/4;
}
.clear,
.new {
  border-radius: 0.5rem;
}
.selection-buttons {
  grid-area: 2/4/2/6;
}

.range {
  @include flex(center, center, column);
  // flex: 1 1 20rem;
}

.control-header {
  color: $blue-color;
  flex: 1 1 10rem;
  @include flex(center, center, row);
  h1 {
    width: 100%;
    text-align: center;
  }
}

.control-buttons {
  grid-area: 2/1/2/3;
  @include flex(space-evenly, center, row);
  button {
    width: 100%;
    padding: 1.5rem 6rem;
    border: $standard-border;
    font-size: 1.6rem;
    transition: all 200ms ease;
  }
  button:hover {
    transform: scale(1.1);
    -webkit-box-shadow: 4px 2px 8px 1px rgba(0, 0, 0, 0.35);
    box-shadow: 4px 2px 8px 1px rgba(0, 0, 0, 0.35);
  }
  input {
    width: 50%;
  }
}
.selection-buttons {
  @include flex(space-evenly, center, row);
  text-align: center;
  // margin-bottom: 2rem;
}
.selection {
  width: 100%;
  padding: 1.5rem 4rem;
  font-size: 1.6rem;
  transition: all 200ms ease;
  text-align: center;
  border-radius: 0.5rem;
}
.blue-selection,
.black-selection,
.random-selection,
.custom-selection {
  flex: 1;
  margin-right: 1rem;
}
.selection:hover {
  transform: scale(1.1);
  -webkit-box-shadow: 4px 2px 8px 1px rgba(0, 0, 0, 0.35);
  box-shadow: 4px 2px 8px 1px rgba(0, 0, 0, 0.35);
}
.selection:focus {
  transform: scale(1.05);
  -webkit-box-shadow: inset 4px 2px 8px 1px rgba(0, 0, 0, 0.35);
  box-shadow: inset 4px 2px 8px 1px rgba(0, 0, 0, 0.35);
}

.blue-color {
  border: $standard-border;
}
.black-color {
  border: 1px solid rgb(24, 24, 24);
}
.random-color {
  border: 1px solid transparent;
  border-image: linear-gradient(
    to bottom right,
    #b827fc 0%,
    #2286cf 25%,
    #f7cb15 50%,
    #f7a1c4 75%,
    #fd1892 100%
  );
  border-image-slice: 1;
}
.custom-color {
  border: none;
  border-block-width: 20%;
  border-top: $standard-border;
  border-bottom: $standard-border;
  border-left: 1px solid #a8dadc;
  border-right: 1px solid #a8dadc;
}
.random-selection,
.custom-selection {
  position: relative;
}

#random-color-visual,
#custom-color-visual {
  position: absolute;
  top: 31%;
  left: 83%;
  width: 7%;
  border: none;
  height: 2rem;
  width: 2rem;
}

.visual-display {
  display: none;
}

.grid {
  grid-area: grid;
  @include flex(center, center, row);
}
.grid-container {
  border: $standard-border;
  border-radius: 0.5rem;
  height: 90%;
  display: grid;
  width: 80vw;
}
.current-range {
  margin-bottom: 2rem;
}

.grid-box {
  background: transparent;
  border: none;
  height: 100%;
  transition: all ease;
}
