* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

html,
body {
  overflow: auto;
}

h1 {
  font-size: 2.2rem;
}

p,
button,
label {
  font-size: 1.6rem;
}

header {
  height: 7vh;
}

.logo {
  margin-top: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
}

.logo img {
  height: 5rem;
  width: 30%;
}

main {
  height: 90vh;
  display: grid;
  grid-template-rows: 2.5fr 0.5fr;
  grid-template-areas: "grid" "controls";
}

.controls {
  display: grid;
  grid-template-rows: 0.3fr 2fr;
  grid-template-columns: repeat(4, 0.3fr) 0.75fr;
  width: 80%;
  margin: auto;
  margin-bottom: 1.5rem;
}

.control-header {
  grid-area: 2/2/2/5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.control-header h1 {
  color: #2286cf;
}

.clear,
.new {
  border-radius: 0.5rem;
}

.range {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  position: relative;
  grid-area: 1/1/1/6;
  text-align: center;
  width: 89%;
}

.range input {
  width: 30rem;
}

.range p {
  margin: 0;
  order: -1;
  font-size: 1.3;
}

.range label {
  font-size: 1.3rem;
  margin: 0;
}

.range input {
  -webkit-appearance: none;
  margin-inline: 2rem;
}

.range input::-webkit-slider-thumb {
  height: 1.5rem;
  width: 1.5rem;
  background: #2286cf;
  cursor: pointer;
}

.range input::-moz-range-thumb {
  height: 1.5rem;
  width: 1.5rem;
  background: #2286cf;
  cursor: pointer;
}

.range input::-ms-thumb {
  height: 1.5rem;
  width: 1.5rem;
  background: #2286cf;
  cursor: pointer;
  margin: 0;
}

.range input::-webkit-slider-runnable-track {
  height: 1.5rem;
  cursor: pointer;
  background: #acd2eb;
}

.range input::-moz-range-track {
  height: 1.5rem;
  cursor: pointer;
  background: #acd2eb;
}

.range input::-ms-track {
  height: 1.5rem;
  cursor: pointer;
  background: #acd2eb;
}

.control-buttons {
  grid-area: 2/1/2/2;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.control-buttons button {
  width: 100%;
  padding: 1rem 12rem;
  border: 1px solid #2286cf;
  font-size: 1.4rem;
  transition: all 200ms ease;
}

.control-buttons button:hover {
  transform: scale(1.05);
  box-shadow: 4px 2px 8px 1px rgba(0, 0, 0, 0.35);
}

.control-buttons input {
  width: 50%;
}

.selection-buttons {
  gap: 2rem;
  grid-area: 2/5/2/6;
  display: grid;
  grid-template-columns: repeat(2, 0.5fr);
  grid-template-rows: repeat(2, 1fr);
}

.selection {
  width: 60%;
  border-radius: 0.2rem;
  padding: 1.5rem 4rem;
  font-size: 1.6rem;
  transition: all 200ms ease;
  text-align: center;
}

.blue-selection button,
.black-selection button,
.random-selection button,
.custom-selection button {
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  width: 100%;
}

.blue-selection {
  grid-area: 1/1/1/2;
}

.selection:hover {
  transform: scale(1.05);
  box-shadow: 4px 2px 8px 1px rgba(0, 0, 0, 0.35);
}

.selection:focus {
  transform: scale(1.05);
  box-shadow: inset 4px 2px 8px 0.5px rgba(0, 0, 0, 0.35);
}

.blue-color {
  border: 1px solid #2286cf;
}

.black-color {
  border: 1px solid #181818;
}

.random-color {
  border: 1px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2286cf 25%, #f7cb15 50%, #f7a1c4 75%, #fd1892 100%);
  border-image-slice: 1;
}

.custom-color {
  border: none;
  border-block-width: 20%;
  border-top: 1px solid #2286cf;
  border-bottom: 1px solid #2286cf;
  border-left: 1px solid #979e9e;
  border-right: 1px solid #a8dadc;
}

.random-selection,
.custom-selection {
  position: relative;
}

#random-color-visual,
#custom-color-visual {
  position: absolute;
  top: 7%;
  right: 1%;
  width: 2.5rem;
  background: none;
}

.visual-display {
  display: none;
}

.eraser {
  grid-area: 3/1/3/3;
  text-align: center;
}

.eraser button {
  border: 2px inset #a3a4a4;
  width: 50%;
  grid-area: 3/1/3/3;
  padding: 1rem 3rem;
  border-radius: 0.5rem;
}

.grid {
  grid-area: grid;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.grid-container {
  border: 1px solid #2286cf;
  border-radius: 0.5rem;
  height: 90%;
  display: grid;
  width: 80vw;
}

.current-range {
  margin: 0;
}

.grid-box {
  background: transparent;
  border: none;
  height: 100%;
  transition: all ease;
}
/*# sourceMappingURL=styles.css.map */