* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

body {
  background: #f0f0f0;
}

h1 {
  font-size: 2.2rem;
}

p,
button,
label {
  font-size: 1.6rem;
}

header {
  height: 10vh;
}

.logo {
  margin: 1%;
}

.logo img {
  height: 6rem;
  width: 24%;
}

main {
  height: 90vh;
  display: grid;
  grid-template-rows: 3fr 0.5fr;
  grid-template-areas: "grid" "controls";
}

.controls {
  display: grid;
  grid-template-rows: 0.3fr 2fr;
  grid-template-columns: repeat(5, 1fr);
}

.control-header {
  grid-area: 1/1/1/6;
}

.range {
  grid-area: 2/3/2/4;
}

.control-buttons {
  grid-area: 2/1/2/3;
}

.clear,
.new {
  border-radius: 0.5rem;
}

.selection-buttons {
  grid-area: 2/4/2/6;
}

.range {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.control-header {
  color: #2286cf;
  flex: 1 1 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.control-header h1 {
  width: 100%;
  text-align: center;
}

.control-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.control-buttons button {
  width: 25%;
  margin-bottom: 2rem;
  padding: 1.5rem 6rem;
  border: 1px solid #2286cf;
  font-size: 1.6rem;
  transition: all 200ms ease;
}

.control-buttons button:hover {
  transform: scale(1.1);
  box-shadow: 4px 2px 8px 1px rgba(0, 0, 0, 0.35);
}

.control-buttons input {
  width: 50%;
}

.selection-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  text-align: center;
}

.selection {
  width: 100%;
  margin-bottom: 2rem;
  padding: 1.5rem 4rem;
  font-size: 1.6rem;
  transition: all 200ms ease;
  text-align: center;
  border-radius: 0.5rem;
}

.selection:hover {
  transform: scale(1.1);
  box-shadow: 4px 2px 8px 1px rgba(0, 0, 0, 0.35);
}

.selection:focus {
  transform: scale(1.05);
  box-shadow: inset 4px 2px 8px 1px rgba(0, 0, 0, 0.35);
}

.blue-color {
  border: 1px solid #2286cf;
}

.black-color {
  border: 1px solid #181818;
}

.random-color {
  border: 1px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2286cf 25%, #f7cb15 50%, #f7a1c4 75%, #fd1892 100%);
  border-image-slice: 1;
}

.custom-color {
  border: none;
  border-block-width: 20%;
  border-top: 1px solid #2286cf;
  border-bottom: 1px solid #2286cf;
  border-left: 1px solid #a8dadc;
  border-right: 1px solid #a8dadc;
}

.random-selection,
.custom-selection {
  position: relative;
}

#random-color-visual,
#custom-color-visual {
  position: absolute;
  top: 14%;
  left: 83%;
  width: 7%;
}

.visual-display {
  display: none;
}

.grid {
  grid-area: grid;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.grid-container {
  border: 1px solid #2286cf;
  border-radius: 0.5rem;
  height: 90%;
  display: grid;
  width: 80vw;
}

.current-range {
  margin-bottom: 2rem;
}

.grid-box {
  background: transparent;
  border: none;
  height: 100%;
  transition: all ease;
}
/*# sourceMappingURL=styles.css.map */